@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;700&family=Open+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: rgb(37, 29, 107);
}

div {

    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    background-color: #505ac781;
    color: #fff;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.color #randomnumber {
    display: flex;
    position: inherit;
    margin-left: 30px;

}

.color__randomiser {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 160px;
    height: 50px;
    border: 2px solid #505ac7;
    border-radius: 4px 4px 4px 4px;
    background-color: rgba(80, 90, 199, 0);
    -webkit-box-shadow: 0px 0px 2px 0px #333333;
    -moz-box-shadow: 0px 0px 2px 0px #333333;
    box-shadow: 0px 0px 2px 0px #333333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: #505ac7;
}

.color__randomiser:hover {
    border-color: #505ac7;
    background-color: rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0px 0px 2px 0px #333333;
    -moz-box-shadow: 0px 0px 2px 0px #333333;
    box-shadow: 0px 0px 2px 0px #333333;
}